<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7be3c5">  <td>18/10/22 23:47:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebDriverTest.addGameToWishList()[pri:1, instance:test.WebDriverTest@39aeed2f]">addGameToWishList</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="7be3c5">  <td>18/10/22 23:48:24</td>   <td>65186</td> <td>&nbsp;</td><td title="&lt;&lt;WebDriverTest.close()[pri:0, instance:test.WebDriverTest@39aeed2f]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="7be3c5">  <td>18/10/22 23:48:14</td>   <td>54959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebDriverTest.installGame()[pri:2, instance:test.WebDriverTest@39aeed2f]">installGame</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="7be3c5">  <td>18/10/22 23:46:10</td>   <td>-69165</td> <td>&nbsp;</td><td title="&gt;&gt;WebDriverTest.startTesting()[pri:0, instance:test.WebDriverTest@39aeed2f]">&gt;&gt;startTesting</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1418621776</td>   <td></td> </tr>
</table>
